<app-top-bar></app-top-bar>
<div class="page-wrapper">

  <h1 class="page__title">Campagne</h1>

  <div class="campaign-section">
    <div class="campaign-section__header">
      <h2 class="campaign-section__header__title">Campagne evento</h2>
      <button class="btn" routerLink="create-event">Crea evento</button>
    </div>
    <div class="campaign-section__content">
      <table>
        <thead>
        <tr>
          <th>Nome Evento</th>
          <th>Negozio</th>
          <th>Data evento</th>
          <th>Newsletter inviate</th>
          <th>N. partecipanti</th>
          <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let storeEvent of storeEvents">
          <td>{{ storeEvent.label }}</td>
          <td>{{ storeEvent._storeName }}</td>
          <td>{{ storeEvent.date | date: 'medium': undefined : 'it' }}</td>
          <td>{{ storeEvent._nInvited }}</td>
          <td>{{ storeEvent._nParticipants }}</td>
          <td class="campaign-section__content__table-action">
            <button class="btn btn--text" [routerLink]="['events/', storeEvent.code]">Vedi dettagli</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
