@import "~src/styles/common";

.btn {
  display: inline-block;
  padding: 1rem 2.4rem;
  text-align: center;
  cursor: pointer;

  border: 1px solid $primary_color_solid;
  background-color: $primary_color_solid;
  border-radius: .2rem;
  color: white;
  font-size: 1.8rem;


  &:hover {
    border: 1px solid $primary_color_solid_hover;
    background-color: $primary_color_solid_hover;
  }

  &:active {
    border: 1px solid $primary_color_solid_active;
    background-color: $primary_color_solid_active;
  }

  &:disabled {
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
  }

  &.btn-loading {
    animation: btn-loading-pulse 1.2s infinite;

  }

  @keyframes btn-loading-pulse {
    0% {
      background-color: $primary_color_solid;
      border: 1px solid $primary_color_solid;
    }
    70% {
      background-color: #aaaaaa;
      border: 1px solid #aaaaaa;
    }
    100% {
      background-color: $primary_color_solid;
      border: 1px solid $primary_color_solid;
    }
  }

}


.btn--secondary {
  border: 1px solid $secondary_color_solid;
  background-color: $secondary_color_solid;
  color: rgba(0, 0, 0, 0.98);

  &:hover {
    border: 1px solid $secondary_color_solid_hover;
    background-color: $secondary_color_solid_hover;
  }

  &:active {
    border: 1px solid $secondary_color_solid_active;
    background-color: $secondary_color_solid_active;
  }
}


.btn--outlined {
  color: $primary_color_solid;
  border: 1px solid $primary_color_solid;
  background-color: transparent;


  &:hover {
    background-color: $transparent_hover;
  }

  &:active {
    background-color: $transparent_active;
  }
}

.btn--text {
  color: $primary_color_solid;
  border: none;
  background-color: transparent;


  &:hover {
    background-color: $transparent_hover;
    border: none;
  }

  &:active {
    background-color: $transparent_active;
    border: none;
  }
}



