// Media queries
$break_phone: 37.5em; //600px
$break_tab_port: 56.25em; //900px
$break_tab_land: 75em; 
$break_desk_big: 112.5em;


// Palette
$primary_color_solid: black;
$primary_color_solid_hover: rgb(15,15,15);
$primary_color_solid_active: rgb(30,30,30);

$secondary_color_solid: #EBCB80;
$secondary_color_solid_hover: rgb(215, 187, 122);
$secondary_color_solid_active: rgb(196,171,112);


$gray_light: #EEEEEE;


// States for transparent element
$transparent_hover: rgba(0, 0, 0, 0.04);
$transparent_active: rgba(0, 0, 0, 0.08);


// Elevation shadow
$elevation-0: 0 0 0 1px rgba(0, 0, 0, 0.08);
$elevation-2: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0.6rem 2.4rem 0 rgba(0, 0, 0, 0.04), 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.04);
$elevation-4: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1.2rem 4.8rem 0 rgba(0, 0, 0, 0.08), 0 0.8rem 2.4rem 0 rgba(0, 0, 0, 0.08);
