$primary_color: #C62828;
$black: #000000;
$gold: #CC9900;
$grey: #C0C0C0;

// Media queries
$break_phone: 37.5em; //600px
$break_tab_port: 56.25em; //900px
$break_tab_land: 75em; 
$break_desk_big: 112.5em;


// Palette
$primary_color_solid: black;
$primary_color_solid_hover: rgb(15,15,15);
$primary_color_solid_active: rgb(30,30,30);

$secondary_color_solid: #EBCB80;
$secondary_color_solid_hover: rgb(215, 187, 122);
$secondary_color_solid_active: rgb(196,171,112);


$gray_light: #EEEEEE;

// States for transparent element
$transparent_hover: rgba(0, 0, 0, 0.04);
$transparent_active: rgba(0, 0, 0, 0.08);

.bold{
    font-weight: bold;
}

.center-text{
    text-align:center;
}

.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.divider{
    height:100px;
}
