.form__field {
  margin-bottom: 4.8rem;

  .form__field__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form__field__row__short-item {
      flex: 0 1 calc(50% - 1.2rem);
    }

    .form__field__row__very-short-item {
      flex: 0 1 calc(33% - 1.2rem);
    }
  }
}

.input-text {
  background-color: white;
  flex: 1;
  width: 100%;
  padding: 1rem 1.2rem;
  border: none;
  font-size: 1.8rem;

  &::placeholder {
    color: rgba(0, 0, 0, 0.48);
  }

  &.input-text--gray {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.input-text-area {
  resize: none;
}

.input__label {
  font-size: 1.6rem;
}

.input__error-message {
  font-size: 1.5rem;
  color: red;
}

.input__checkbox-wrapper {
  padding: .6rem 0;
  display: flex;
  align-items: center;

  .input__checkbox-content {
    display: flex;
    align-items: center;


    .input__checkbox-hide {
      display: none;
    }

    .input__checkbox__icon {
      display: flex;
      align-items: center;
      margin-right: .6rem;
    }

    .input__checkbox__label {
      flex: 1;
    }

  }
}

