.page-wrapper {
    max-width: 64em; //1024px
    margin: 0 auto;
    padding: 5.6rem 2.4rem;
    padding-bottom: 7.2rem;



    .page__title  {
        font-size: 3.2rem;
        padding: 7.2rem 0 4.8rem 0;
    }
}
