<div class="page--wrapper">
    <div class="event--container">
      <div class="event event--head">
        <div class="event event--head--Membership">
            <p class="event--membership__club__title center-text">GB Membership Club</p>
            <p class="event--membership__store center-text">Fiero</p>
        </div>
        <div class="event--container--store__img">
          <img class="event--store__img center-image" src="./assets/images/landing1.png">
        </div>
      </div>
      <div class="event event--body">
        <div class="divider"></div>
  
        <p class="event--event__title center-text bold">{{ 'Valentines day promotion' | translate }}</p>
        <p class="event--event__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <div class="event--promotion__container">
          <div class="event--promotion__container__infos">
              <div class="event--promotion__container__title">
                <div>
                  <p>Codice Promozionale</p>
                </div>
              </div>
              <div class="event--promotion__container__info">
                <div>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/></svg>
                    4 febbraio - 14 febbraio
                    </p>
                </div>
                <div>
                  <p> 
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/></svg>
                    -30%
                  </p>
                </div>
              </div>
          </div>
  
          <div class="event--container--qr__img">
            <img class="event--qr__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  