@import "~src/styles/common";
.event--container {

    .event--head{
        background-color: $black;
        height:300px;
        color:white;
    }

    .event--membership__club__title{
        color: $gold;
        text-decoration: underline;
    }

    .event--store__img{
        // height:300px;
        // width:600px;
        
        width: 90%;
        height: 250px;
        transform: translate(0px, 50px);
    }

    .event--event__info{
        margin-top:20px;
        margin-left:100px;
        margin-right:100px;
    }

    .event--head--Membership{
        padding-top:10px;
        // transform: translate(0px, 10px);
    }




    .event--promotion__container{
        background-color: $grey;
        width:80%;
        height:100px;
        margin:0 auto;
        margin-top:100px;
        display: flex;
    }
    
    .event--promotion__container__infos{
        flex:1;
    }

    .event--promotion__container__info{
        display:flex;
        padding-top:10px;
    }

    .event--promotion__container__title{
        padding:10px;
    }

    .event--promotion__container__content{
        padding-left:10px;
    }

    .event--promotion__container__info {
        padding-left:10px;
        // transform: translate(0px, 10px);
    }

    .event--promotion__container__info :nth-child(2){
        padding-left:15px;
        // transform: translate(0px, 10px);
    }

    //Landing 1
    .event--qr__img{
        display: block;
        width: 100px;
        height: 100px;
    }

    //Landing 2-1
    .event--countdown{
        padding-top:100px;
    }

    .input--field{
        height:30px;
    }

    .button--submit{
        margin-left:15px;
        height:30px;
        background-color: black;
        color:white;
    }

    .event--qr__img{
        display: block;
        width: 100px;
        height: 100px;
    }


}