<div class="page--wrapper">
  <div class="event--container">
    <div class="event event--head">
      <div class="event event--head--Membership">
        <p class="event--membership__club__title center-text">{{campaign.membership}}</p>
        <p class="event--membership__store center-text">{{campaign.store_name}}</p>
      </div>
      <div class="event--container--store__img">
        <img class="event--store__img center-image" src="{{campaign.event_imgUrl}}">
      </div>
    </div>
    <div class="event event--body">
      <div class="divider"></div>
      
      <p class="event--event__title center-text bold">{{ campaign.campaign_title | translate }}</p>
      <p class="event--event__info">{{campaign.campaign_description}}</p>
      
      <!-- Time countdown container -->
      <div class="event--countdown center-text" *ngIf="campaign.campaign_elements.indexOf('time_countdown_container') > -1">
        <p>Inizia tra</p>
        {{reservationInfo.start_date | date:'MMMM dd, yyyy HH:mm:ss'}}
        <br>
        {{reservationInfo.start_date | date:'yyyy-MM-ddTHH:mm:ss'}}
        <app-countdown class="bold" [inputDate]="reservationInfo.start_date" [dateFormat]="'yyyy-MM-dd'">Loading...</app-countdown>
      </div>
      
      <!-- Reservations countdown container -->
      <div class="event--countdown center-text" *ngIf="campaign.campaign_elements.indexOf('reservations_countdown_container') > -1">
        <p class="bold">Disponibilità</p>
        <p>{{'Only' | translate}} {{invitedInfo.availableConfirmations}} {{'reservations remaining' | translate}}</p>
      </div>
      
      <!-- Event promotion container -->
      <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('promotional_container') > -1">
        <div class="event--promotion__container__infos">
          <div class="event--promotion__container__title">
            <div>
              <p>Codice Promozionale</p>
            </div>
          </div>
          <div class="event--promotion__container__info">
            <div>
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/></svg>
                {{promotionInfo.start_date | date:'dd'}} {{promotionInfo.start_date | date:'MMMM' | translate}} - {{promotionInfo.end_date | date:'dd'}} {{promotionInfo.end_date | date:'MMMM' | translate}}
              </p>
            </div>
            <div>
              <p> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/></svg>
                {{promotionInfo.discount}}
              </p>
            </div>
          </div>
        </div>
        
        <div class="event--container--qr__img">
          <img class="event--qr__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
        </div>
      </div>
      
      <!-- Reserve Container -->
      <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('reserve_container') > -1">
        <div class="event--promotion__container__infos">
          <div class="event--promotion__container__title">
            <div>
              <p>Riserva</p>
            </div>
          </div>
          <div class="event--promotion__container__info">
            <div>
              <input class="input--field" type="text" value="{{reservationInfo.invited_person.firstname}} {{reservationInfo.invited_person.surname}}">
            </div>
            <div>
              <input class="input--field" type="text" value="{{reservationInfo.invited_person.phoneNumber}}">
            </div>
            <div>
              <button class="button--submit" type="submit">Conferma</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Invite Container -->
      <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('invite_person_container') > -1">
        <div class="event--promotion__container__infos">
          <div class="event--promotion__container__title">
            <div>
              <p>Invita una persona speciale</p>
            </div>
          </div>
          <div class="event--promotion__container__info">
            <div>
              <input class="input--field" type="text">
            </div>
            <div>
              <input class="input--field" type="text">
            </div>
            <div>
              <button class="button--submit" type="submit">Invita</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Reservation container -->
      <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('reservation_container') > -1">
        <div class="event--promotion__container__infos">
          <div class="event--promotion__container__title">
            <div>
              <p>Prenotazione</p>
            </div>
          </div>
          <div class="event--promotion__container__info">
            <div>
              <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/></svg>
                {{reservationInfo.start_date | date:'dd-MM-yyyy'}}
              </p>
            </div>
            <div>
              <p> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></svg>
                {{reservationInfo.start_date | date:'HH:mm'}}
              </p>
            </div>
          </div>
        </div>
        
        <div class="event--container--qr__img">
          <img class="event--qr__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
        </div>
      </div>
      
      <!-- Invited people container -->
      <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('invited_people_container') > -1">
        <div class="event--promotion__container__infos">
          <div class="event--promotion__container__title bold">
              <p>Persone invitate</p>
          </div>
          <div class="event--promotion__container__content" *ngFor="let invitedPerson of invitedInfo.invitedPeople">
              <p>
                {{invitedPerson.firstname}} {{invitedPerson.surname}} - {{ invitedPerson.is_confirmed ? "Confermato" : "In attesa" }}
              </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>


