<div class="card card-store">
  <div
    class="card__img card-store__img"
    [ngStyle]="{ 'background-image': 'url(' + store.imageUrl + ')' }"
  ></div>
  <div class="card__data-wrapper card-store__data-wrapper">
    <p class="card__title card-store__title">{{ store.name }}</p>
    <p class="card__info card-store__info">{{ store.address }}</p>
    <div class="card__call-wrapper card-store__call-wrapper">
      <!-- If !== selected btn + btn--outlined -->
      <button class="btn btn--outlined" (click)="sendIsSelected()">
        Click me
      </button>
    </div>
  </div>
</div>
