@import "~src/styles/common";

.card-store {
  background-color: white;
  position: relative;
  box-shadow: $elevation-2;

  .card-store__img {
    padding-bottom: 56.25%;
    background-position: center;
    background-size: cover;
  }

  .card-store__data-wrapper {
    padding: 2.4rem;

    .card-store__title {
      font-weight: bold;
      font-size: 2.4rem;
      margin-bottom: 0.6rem;
    }
  }

  .card-store__call-wrapper {
    margin-top: 2.4rem;
    display: flex;
    justify-content: flex-end;
  }
}
