<div class="event__head">
  <div class="event__head__membership-text">
    <p class="membership-text__name">GB Membership Club</p>
    <p class="membership-text__store">{{eventWithParticipant?._storeName}}</p>
  </div>
  <div class="event__img-wrapper">
    <div class="event__img" [ngStyle]="{ 'background-image': 'url(' + eventWithParticipant?._bannerUrl + ')' }"></div>
  </div>
</div>

<div class="page-wrapper">
  <div class="event__body">
    <h1 class="event__body__title page__title">{{ eventWithParticipant?.label | translate }}</h1>
    <p class="event__body__description">{{eventWithParticipant?.description}}</p>
  </div>


  <!-- Time countdown container -->
  <div class="countdown-container" *ngIf="isEventTerminated()">
    <p class="countdown-container__title">Inizia tra</p>
    <app-countdown class="countdown-container__text" [inputDate]="eventWithParticipant.date">Loading...
    </app-countdown>
  </div>


  <!-- Reservations countdown container
  <div class="event--countdown center-text"
       *ngIf="campaign.campaign_elements.indexOf('reservations_countdown_container') > -1">
    <p class="bold">Disponibilità</p>
    <p>{{'Only' | translate}} {{invitedInfo.availableConfirmations}} {{'reservations remaining' | translate}}</p>
  </div>
   -->


  <!-- Event promotion container
  <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('promotional_container') > -1">
    <div class="event--promotion__container__infos">
      <div class="event--promotion__container__title">
        <div>
          <p>Codice Promozionale</p>
        </div>
      </div>
      <div class="event--promotion__container__info">
        <div>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/>
            </svg>
            {{promotionInfo.start_date | date:'dd'}} {{promotionInfo.start_date | date:'MMMM' | translate}}
            - {{promotionInfo.end_date | date:'dd'}} {{promotionInfo.end_date | date:'MMMM' | translate}}
          </p>
        </div>
        <div>
          <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M11.8 10.9c-2.27-.59-3-1.2-3-2.15 0-1.09 1.01-1.85 2.7-1.85 1.78 0 2.44.85 2.5 2.1h2.21c-.07-1.72-1.12-3.3-3.21-3.81V3h-3v2.16c-1.94.42-3.5 1.68-3.5 3.61 0 2.31 1.91 3.46 4.7 4.13 2.5.6 3 1.48 3 2.41 0 .69-.49 1.79-2.7 1.79-2.06 0-2.87-.92-2.98-2.1h-2.2c.12 2.19 1.76 3.42 3.68 3.83V21h3v-2.15c1.95-.37 3.5-1.5 3.5-3.55 0-2.84-2.43-3.81-4.7-4.4z"/>
            </svg>
            {{promotionInfo.discount}}
          </p>
        </div>
      </div>
    </div>

    <div class="event--container--qr__img">
      <img class="event--qr__img"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png">
    </div>
  </div>
  -->

  <!-- Reserve Container -->
  <div class="event-booking__container" *ngIf="!eventWithParticipant?.participant.confirmed">
    <div class="event-booking__info-container">
          <p class="event-booking__info-container__title">Riserva</p>
      <div class="event-booking__info-container__data-container">
        <svg class="event-booking__info-container__data__icon" xmlns="http://www.w3.org/2000/svg" width="2.4rem"
             height="2.4rem" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z"/>
          <path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/>
        </svg>
        <p>
          {{eventWithParticipant?.date | date:'dd-MM-yyyy'}}
        </p>
      </div>

      <div class="event-booking__info-container__data-container">
        <svg class="event-booking__info-container__data__icon" xmlns="http://www.w3.org/2000/svg" width="2.4rem"
             height="2.4rem" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z"/>
          <path
            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
        </svg>
        <p>
          {{eventWithParticipant?.date  | date:'HH:mm'}}
        </p>
      </div>
        <div>
          <button class="button--submit" type="submit" (click)="confirmParticipation()">Conferma</button>
        </div>
      </div>
  </div>

  <!-- Invite Container
  <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('invite_person_container') > -1">
    <div class="event--promotion__container__infos">
      <div class="event--promotion__container__title">
        <div>
          <p>Invita una persona speciale</p>
        </div>
      </div>
      <div class="event--promotion__container__info">
        <div>
          <input class="input--field" type="text">
        </div>
        <div>
          <input class="input--field" type="text">
        </div>
        <div>
          <button class="button--submit" type="submit">Invita</button>
        </div>
      </div>
    </div>
  </div>
 -->

  <!-- Reservation container -->
  <div class="event-booking__container" *ngIf="eventWithParticipant?.participant.confirmed">

    <div class="event-booking__info-container">
      <p class="event-booking__info-container__title">Prenotazione</p>

      <div class="event-booking__info-container__data-container">
        <svg class="event-booking__info-container__data__icon" xmlns="http://www.w3.org/2000/svg" width="2.4rem"
             height="2.4rem" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z"/>
          <path d="M22 3h-3V1h-2v2H7V1H5v2H2v20h20V3zm-2 18H4V8h16v13z"/>
        </svg>
        <p>
          {{eventWithParticipant?.date | date:'dd-MM-yyyy'}}
        </p>
      </div>

      <div class="event-booking__info-container__data-container">
        <svg class="event-booking__info-container__data__icon" xmlns="http://www.w3.org/2000/svg" width="2.4rem"
             height="2.4rem" viewBox="0 0 24 24">
          <path fill="none" d="M0 0h24v24H0V0z"/>
          <path
            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
        </svg>
        <p>
          {{eventWithParticipant?.date  | date:'HH:mm'}}
        </p>
      </div>
    </div>

    <div class="event-booking__qr-container">
      <div class="event-booking--qr"  *ngIf="invitationQRImage" (click)="openQRViewer()"
        [ngStyle]="{ 'background-image': 'url(data:image/png;base64,'+ invitationQRImage +')' }">
      </div>
    </div>
  </div>

  <!-- Invited people container
  <div class="event--promotion__container" *ngIf="campaign.campaign_elements.indexOf('invited_people_container') > -1">
    <div class="event--promotion__container__infos">
      <div class="event--promotion__container__title bold">
        <p>Persone invitate</p>
      </div>
      <div class="event--promotion__container__content" *ngFor="let invitedPerson of invitedInfo.invitedPeople">
        <p>
          {{invitedPerson.firstname}} {{invitedPerson.surname}}
          - {{ invitedPerson.is_confirmed ? "Confermato" : "In attesa" }}
        </p>
      </div>
    </div>
  </div>
  -->


</div>


