<div class="nav-close__layer" [class.visible]="isNavOpen" (click)="sendCloseNav()"></div>

<nav class="nav" [class.visible]="isNavOpen">
  <div class="nav__list">
    {{currentUserMail}}
  </div>
  <div class="nav__hr"></div>

  <ul class="nav__list main-list">
    <li>
      <button class="nav__list__item" routerLink="/tablet/events" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
true}">
        Gestione eventi
      </button>
    </li>
  </ul>
  <div class="nav__hr"></div>

  <div class="nav__list">
    <button class="nav__list__item" (click)="logOut()">
      Log out
    </button>
  </div>

</nav>
