@import "~src/styles/common";

.event-banner {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 6rem 2.4rem 3.2rem 2.4rem;

  .event-banner__title {
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;

    margin-bottom: 2.4rem;
  }

  .event-banner__description {
    margin-bottom: 4.8rem;
  }

  .event-banner__call-wrapper {
    display: flex;
    justify-content: center;
  }
}

.participant-list-wrapper {
  padding: 6rem 0;

  .participant-list__info {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .participant-list {
    padding: 0 4.8rem;

    @media screen and (max-width: $break_phone) {
      padding: 0 0;
    }

  }
}

.search-input-wrapper {
  height: 4.8rem;
  margin-bottom: 2.4rem;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;

  .search-input {
    background-color: transparent;
    padding: 0 1.2rem;
  }

  .search-input__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.2rem;
  }
}
