<div class="page-wrapper">
  <h1 class="page__title">
    Gestione eventi
  </h1>
  <div class="event-banner">
    <h2 class="event-banner__title">
      Fall Pre-sale
    </h2>
    <p class="event-banner__description">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
    <div class="event-banner__call-wrapper">
      <button class="btn">
        Check-In
      </button>
    </div>
  </div>
  <div class="participant-list-wrapper">
    <p class="participant-list__info">invitati 21 di 80</p>

    <ul class="participant-list">
      
      <label>
        <div class="search-input-wrapper">
          <input
            class="search-input"
            type="text"
            name="search"
            placeholder="Search..."
          />
        </div>
      </label>

      <li class="participant-list__item">
        <div class="participant-list__item__img">M</div>
        <p class="participant-list__item__label">
          Marco Marco
        </p>
      </li>
      <li class="participant-list__item">
        <div class="participant-list__item__img">F</div>
        <p class="participant-list__item__label">
          Franco Franchi
        </p>
      </li>
      <li class="participant-list__item">
        <div class="participant-list__item__img">M</div>
        <p class="participant-list__item__label">
          Marco Marco
        </p>
      </li>
    </ul>
  </div>
</div>
