<div class="form-page-background-image">
  <div class="form-page-background-gradient"></div>
</div>

<div class="page-wrapper form-page-wrapper">
  <p class="form-page__store-name">
    G&B Flero
  </p>

  <h1 class="form-page__title">
    Membership Club G&B
  </h1>

  <p class="form-page__description">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat.
  </p>


  <div class="new-client-form-wrapper">

    <form action="/action_page.php">

      <div class="new-client-form__layout--row">
        <div class="new-client-form__layout--item-short">
          <label>
            <span class="new-client-form__input-label">First name</span> <br/>
            <input class="input-text new-client-form__input" type="text" name="firstname">
          </label>
        </div>
        <div class="new-client-form__layout--item-short">
          <label class="new-client-form__input-label">
            <span>Last name</span> <br/>
            <input class="input-text new-client-form__input" type="text" name="firstname">
          </label>
        </div>
      </div>
      <div class="new-client-form__layout--row">
        <div class="new-client-form__layout--item-long">
          <label class="new-client-form__input-label">
            <span>eMail</span> <br/>
            <input class="input-text new-client-form__input" type="email" name="firstname">
          </label>
        </div>
      </div>
      <div class="new-client-form__layout--row">
        <div class="new-client-form__layout--item-short">
          <label class="new-client-form__input-label input__label">
            <span>Telephone</span> <br/>
            <input class="input-text new-client-form__input" type="tel" name="firstname">
          </label>
        </div>
      </div>

      <input class="btn btn--secondary" type="submit" value="Conferma">
    </form>

  </div>
</div>
