<div class="form-page-background-image">
  <div class="form-page-background-gradient"></div>
</div>

<div class="page-wrapper form-page-wrapper">
  <p class="form-page__store-name">
    G&B Flero
  </p>

  <h1 class="form-page__title">
    Membership Club G&B
  </h1>

  <p class="form-page__description">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
    magna aliquam erat volutpat.
  </p>


  <div class="new-client-form-wrapper">

    <form [formGroup]="form" (ngSubmit)="doAction()">


      <div class="new-client-form__section">
        <p class="new-client-form__section__title">Informazioni personali</p>


      <div class="new-client-form__layout--row">
        <div class="new-client-form__layout--item-short">
          <label>
            <span class="new-client-form__input-label input__label">First name</span> <br/>
            <input class="input-text new-client-form__input" type="text" name="firstname" formControlName="firstname">
            <span *ngIf="isControlValid(f.firstname)">Error</span>
          </label>
        </div>

        <div class="new-client-form__layout--item-short">
          <label class="new-client-form__input-label input__label">
            <span>Last name</span> <br/>
            <input class="input-text new-client-form__input" type="text" name="lastname" formControlName="lastname">
            <span *ngIf="isControlValid(f.lastname)">Error</span>
          </label>
        </div>
      </div>

      <div class="new-client-form__layout--row">
        <label class="new-client-form__layout--item-short">
          <span>Birth date</span> <br/>

          <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date" class="input-text new-client-form__input" name="birthDate" formControlName="birthDate">
          <owl-date-time [pickerType]="'calendar'" #dt2 [pickerMode]="'dialog'" ></owl-date-time>
          <span *ngIf="isControlValid(f.birthDate)">Error</span>
        </label>
      </div>


      <div class="new-client-form__layout--row">
        <span>Gender</span><br/>
        <div class="new-client-form__radio-button-wrapper">
          <label>
            <input type="radio" name="gender" formControlName="gender" value="male" id="Male"><span>Male</span>
          </label>
        </div>

        <div>
          <label>
            <input type="radio" name="gender" formControlName="gender" value="female" id="Famale"><span>Female</span>
          </label>
        </div>
        <span *ngIf="isControlValid(f.gender)">Error</span>
      </div>
      </div>


      <div class="new-client-form__section">
        <p class="new-client-form__section__title">Informazioni di contatto</p>

        <div class="new-client-form__layout--row">
          <div class="new-client-form__layout--item-long">
            <label class="new-client-form__input-label input__label">
              <span>eMail</span> <br/>
              <input class="input-text new-client-form__input" type="email" name="mail" formControlName="mail">
              <span *ngIf="isControlValid(f.mail)">Error</span>
            </label>
          </div>
        </div>

        <div class="new-client-form__layout--row">
          <div class="new-client-form__layout--item-short">
            <label class="new-client-form__input-label input__label">
              <span>Telephone</span> <br/>
              <input class="input-text new-client-form__input" type="tel" name="phoneNumber"
                     formControlName="phoneNumber">
              <span *ngIf="isControlValid(f.phoneNumber)">Error</span>
            </label>
          </div>
        </div>
      </div>


      <input class="btn btn--secondary" type="submit" value="Conferma">
    </form>

  </div>
</div>
