@import "~src/styles/common";

.cards-container {
  margin-left: -2.4rem;
  margin-right: -2.4rem;


  .card-wrapper {
    display: inline-block;
    padding: 2.4rem;
    width: 33.33%;


    @media only screen and (max-width: $break_tab_land) {
      width: 50%;
    }
    @media only screen and (max-width: $break_phone) {
      width: 100%;
    }

  }
}
