<!-- Nav -->
<div class="nav">
  <button class="nav__close">
    <svg
      class="nav__close__icon"
      xmlns="http://www.w3.org/2000/svg"
      width="2.4rem"
      height="2.4rem"
      viewBox="0 0 24 24"
    >
      <path fill="none" d="M0 0h24v24H0V0z" />
      <path
        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
      />
    </svg>
  </button>
  <ul class="nav__list">
    <li>
      <button class="nav__list__item selected">
        Selezione negozio
      </button>
    </li>
    <li>
      <button class="nav__list__item">
        Form clienti
      </button>
    </li>
    <li>
      <button class="nav__list__item">
        Gestione eventi
      </button>
    </li>
  </ul>
</div>
<!-- End Nav -->

<div class="page-wrapper">
  <h1 class="page__title">
    {{ "Choose store" | translate }}
  </h1>
  <div class="cards-container">
    <ng-container *ngFor="let store of stores">
      <app-card-store
        [store]="store"
        (isSelected)="storeSelected(store)"
      ></app-card-store>
    </ng-container>
  </div>
</div>
