@import "~src/styles/common";

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card-wrapper {
    flex: 0 0 calc(33.33% - 2.4rem);
    margin-bottom: 4.8rem;


    @media only screen and (max-width: $break_tab_land) {
      flex: 0 0 calc(50% - 2.4rem);
    }
    @media only screen and (max-width: $break_phone) {
      flex: 0 0 100%;
    }

  }
}
