<div class="nav-close__layer" [class.visible]="isNavOpen" (click)="sendCloseNav()"></div>

<nav class="nav" [class.visible]="isNavOpen">
  <div class="nav__list">
      Utente
  </div>
  <div class="nav__hr"></div>

  <ul class="nav__list main-list">
    <li>
      <button class="nav__list__item" routerLink="/admin/campaigns" routerLinkActive="selected"
              [routerLinkActiveOptions]="{exact: true}">
        Campagne
      </button>
    </li>
  </ul>
  <div class="nav__hr"></div>

  <div class="nav__list">
      <button class="nav__list__item" (click)="logOut()">
        Log out
      </button>
  </div>

</nav>
